.project__container{
    /* display : grid; */
    grid-template-columns:1fr 1fr;
    gap : 7em;
}

.project__container > div {
    background : var(--color-bg-variant);
    padding : 2.4rem 5rem;
    border-radius : 2rem;
    border : 1px solid transparent;
    transition : 900ms;
}

.project__container > div:hover {
    background : transparent;
    border-color : var(--color-primary-variant);
    cursor : default;
}

.project__container > div h3 {
    text-align : center;
    margin-bottom : 2rem;
    color : var(--color-primary);
}

.project_content {
    display : grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.project__details {
    display : flex;
    gap : 1rem;
}